<div class="super_container">
  <div
    class="main_slider"
    style="background-image: url(../../assets/img/slider_1.jpg)"
  >
    <div class="container fill_height">
      <div class="row align-items-center fill_height">
        <div class="col">
          <div class="main_slider_content">
            <h6>¡Accesorios, Calzado, bolsos y mucho mas!</h6>
            <h1>¡Emprende con nosotros!</h1>
            <div class="red_button shop_now_button">
              <a href="#">Compra ahora</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="new_arrivals">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="section_title new_arrivals_title">
            <h2>New Arrivals</h2>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col text-center">
          <div class="new_arrivals_sorting">
            <ul
              class="arrivals_grid_sorting clearfix button-group filters-button-group"
            >
              <li
                class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active"
                data-filter="*"
              >
                all
              </li>
              <li
                class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                data-filter=".women"
              >
                women's
              </li>
              <li
                class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                data-filter=".accessories"
              >
                accessories
              </li>
              <li
                class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center"
                data-filter=".men"
              >
                men's
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div
            class="product-grid"
            data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'
          >
            <div *ngFor="let producto of getProducts">
              <app-card [product]="producto"></app-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="blogs">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <div class="section_title">
            <h2>Latest Blogs</h2>
          </div>
        </div>
      </div>
      <div class="row blogs_container">
        <div class="col-lg-4 blog_item_col">
          <div class="blog_item">
            <div
              class="blog_background"
              style="background-image: url(../../assets/img/blog_1.jpg)"
            ></div>
            <div
              class="blog_content d-flex flex-column align-items-center justify-content-center text-center"
            >
              <h4 class="blog_title">
                Here are the trends I see coming this fall
              </h4>
              <span class="blog_meta">by admin | dec 01, 2017</span>
              <a class="blog_more" href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 blog_item_col">
          <div class="blog_item">
            <div
              class="blog_background"
              style="background-image: url(../../assets/img/blog_2.jpg)"
            ></div>
            <div
              class="blog_content d-flex flex-column align-items-center justify-content-center text-center"
            >
              <h4 class="blog_title">
                Here are the trends I see coming this fall
              </h4>
              <span class="blog_meta">by admin | dec 01, 2017</span>
              <a class="blog_more" href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 blog_item_col">
          <div class="blog_item">
            <div
              class="blog_background"
              style="background-image: url(../../assets/img/blog_3.jpg)"
            ></div>
            <div
              class="blog_content d-flex flex-column align-items-center justify-content-center text-center"
            >
              <h4 class="blog_title">
                Here are the trends I see coming this fall
              </h4>
              <span class="blog_meta">by admin | dec 01, 2017</span>
              <a class="blog_more" href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
